<div class="drag-drop-container canvas-container">
  <h2>Preview</h2>
  <div
    class="drag-drop-list drop-list canvas"
    cdkDropList
    #destinationList="cdkDropList"
    [cdkDropListData]="fields"
    id="done-list"
    (cdkDropListDropped)="drop($event)"
    cdkDropListOrientation="vertical"
  >
    <div
      [ngStyle]="{width: item.width}"
      class="drag-drop-box"
      *ngFor="let item of fields; let i = index"
      cdkDrag
      cdkDragBoundary="#done-list"
    >
      <app-field-preview style="width: 100%;" [field]="item" [index]="i"></app-field-preview>
    </div>
  </div>

  <!-- <div
    cdkDropList
    #destinationList="cdkDropList"
    [cdkDropListData]="fields"
    class="drag-drop-list drop-list canvas"
    id="done-list"
    (cdkDropListDropped)="drop($event)"
  ></div> -->
</div>
